<!DOCTYPE html>
<html>
    <head>
        <title>Admin || Login</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>

        <div class="admin-login">
            <div class="container">
                <h1 class="head">Admin || Login</h1>
                <form>
                    <div class="input">
                        <label>Username</label>
                        <input id="username" type="text" />
                    </div>

                    <div class="input">
                        <label>Password</label>
                        <input id="password" type="password" />
                    </div>
        
                    <button id="submit-btn" class="normal-btn" type="button">Submit</button>
                </form>
            </div>
        </div>
        <script type="module" src="/scripts/login.js"></script>
    </body>
</html>