<!DOCTYPE html>
<html>
    <head>
        <title>Fajr || Home</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div style="width: 300px;" class="enrollment">
            <div class="container">
                <form>
                    <div id="selectors" class="selectors">
                        <select id="courses"></select>
                    </div>
                    <div id="main-alert">
                        <p>kdkgdgdsgdsgsgdsg</p>
                    </div>
                    <div class="input">
                        <label>User E-Mail</label>
                        <input id="username" type="text" placeholder="Enter Username" />
                    </div>
                    <button id="submit-btn" class="normal-btn" type="button">Submit</button>
                </form>
            </div>
        </div>
        <script type="module" src="/scripts/admin.js"></script>
    </body>
</html>