<!DOCTYPE html>
<html>
    <head>
        <title>Moodle || From</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="registration">
            <div class="container">
                <div class="reg-content">
                    <form>
                        <h1 class="head">Fajr Registration</h1>

                        <div id="main-alert">
                            <p class="main-alert">xfhdhfd</p>
                        </div>
    
                        <div class="input">
                            <label>Username</label>
                            <input id="username" type="text" />
                            <p class="alert" id="username-alert"></p>
                        </div>
                        
                        <div class="multiple-inputs">
                            <div class="input">
                                <label>First Name</label>
                                <input id="first-name" type="text" />
                                <p class="alert" id="first-name-alert"></p>
                            </div>
        
                            <div class="input">
                                <label>Last Name</label>
                                <input id="last-name" type="text" />
                                <p class="alert" id="last-name-alert"></p>
                            </div>
                        </div>
    
                        <div class="input">
                            <label>E-Mail</label>
                            <input id="@email" type="email" />
                            <p class="alert" id="email-alert"></p>
                        </div>
    
                        <div class="multiple-inputs">
                            <div class="input">
                                <label>Password</label>
                                <input id="password" type="password" />
                                <p class="alert" id="password-alert"></p>
                            </div>
        
                            <div class="input">
                                <label>Re-Password</label>
                                <input id="re-password" type="password" />
                                <p class="alert" id="re-password-alert"></p>
                            </div>
                        </div>
    
                        <div class="gender-input">
                            <div class="input">
                                <label for="male">Male</label>
                                <input id="male" name="gender" type="radio" value=1 checked />
                            </div>
                            <div class="input">
                                <label for="female">Female</label>
                                <input id="female" name="gender" type="radio" value=0 />  
                            </div>
                        </div>
            
                        <button id="submit-btn" class="normal-btn" type="button">Submit</button>
                    </form>
                    <div class="background-imag">
                        <img src="/images/background.png" />
                    </div>
                </div>
            </div>
            <footer>
                <div class="container">

                </div>
            </footer>
        </div>

        <script type="module" src="/scripts/registration.js"></script>
    </body>
</html>